body {
  background: #fbfcfd;
  font-family: "Poppins", sans-serif;
  padding: 40px 0;
}

.custom-card {
  max-width: 550px;
  margin: auto;
  padding: 60px 40px;
  border-radius: 18px;
  transition: 0.25s ease;
}

.header-img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

.title {
  font-weight: bold;
  font-size: 26px;
}

.btn {
  background-color: #db6873;
  color: white;
  border: 1px solid rgb(146, 146, 146);
}
.btn:hover {
  background-color: #c2555f;
  color: white;
}

/*  */

.tableCard {
  max-width: 950px;
  margin: auto;
  padding: 40px 35px;
  border-radius: 18px;
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.07);
}

.tableCard h3 {
  font-weight: bold;
  color: #2d3540;
  padding-top: 15px;
}

.table {
  border-radius: 8px !important;
  overflow: hidden;
  border: 1px solid #c2c2c2;
  outline: 1px solid #c2c2c2;
}

.table td {
  background: #ffffff;
  vertical-align: middle;
}

.table input {
  border-radius: 10px;
  padding: 8px 10px;
  border: 1px solid #ccc;
}

.calc-btn {
  background-color: #db6873;
  color: white;
  border-radius: 12px;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  display: flex;
}

.calc-btn:disabled {
  background-color: #e2a1a7;
}

.calc-btn:hover:not(:disabled) {
  background-color: #c2555f;
}

.side-img {
  width: 50px;
  height: auto;
}
.thead {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}
